<?xml version="1.0" encoding="UTF-8"?>
<!--
  Cek gorsel eklerine dogrudan web (HTTP) erisimi kapalidir.
  Dosyalar yalnizca cek_ek_goster.php uzerinden, yetki kontrolu ile servis edilir.
  Canli ortam IIS oldugu icin asil koruma budur (.htaccess yalnizca Apache icin gecerli).
-->
<configuration>
  <system.webServer>
    <handlers accessPolicy="None" />
  </system.webServer>
</configuration>
